:root {
  --string: #e96c75;
  --keyword: #d19a66;
  --type: #61afef;
  --number: #c678dd;
  --comment: #828997;
  --code-background: #222;
}

@media(prefers-color-scheme: light) {
  :root {
    --string: #e45649;
    --keyword: #986801;
    --type: #4078f2;
    --number: #a626a4
    --comment: #a0a1a7;
    --code-background: #f4f4f4;
  }
}

pre {
  overflow: auto;
  max-height: 70vh;
  padding: 10px 5px;
  background-color: var(--code-background);
}

code.nasm .label,
code.nasm .function {
  color: var(--type);
}

code.xml .keyword {
  color: var(--keyword);
}

code.xml .string {
  color: var(--string);
}

code.xml .number {
  color: var(--number);
}

code.xml .tag {
  color: var(--type);
}

code.c .keyword {
  color: var(--keyword);
}

code.c .type {
  color: var(--type);
}

code.c .number {
  color: var(--number);
}

code.c .string {
  color: var(--string);
}

code.c .comment{
  color: var(--comment);
}

code.java .keyword {
  color: var(--keyword);
}

code.java .type {
  color: var(--type);
}

code.java .number {
  color: var(--number);
}

code.java .string {
  color: var(--string);
}

code.java .comment{
  color: var(--comment);
}
