:root {
  --text: #abb2bf;
  --background: #111;
}

@media(prefers-color-scheme: light) {
  :root {
    --text: #494b53;
    --background: #fafafa;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0.5ch;
  margin-bottom: 0.5ch;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
  font-weight: bold;
}

html {
  font-family: "Georgia", serif;
  font-size: 1.0em;
  justify-content: center;
  color: var(--text);
  background-color: var(--background);
}

a {
  color: var(--text);
}

img {
  max-width: 50ch;
  width: 100%;
  margin: auto;
}

body {
  width: device-width;
  max-width: 80ch;
  padding: 2.0ch;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.site-title {
  font-size: 2.5em;
  margin-top: 0.0ch;
  margin-bottom: 0.5ch;
  text-align: center;
}

ol {
  margin-top: 0.5ch;
  margin-bottom: 0.5ch;
}

li {
  margin-top: 0.25ch;
  margin-bottom: 0.25ch;
}

blockquote {
  margin-top: 1.0ch;
  margin-bottom: 1.0ch;
}

p {
  margin-top: 0.5ch;
  margin-bottom: 0.5ch;
}

footer {
  margin-top: 1.5ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}
